pipeline/pl_awlt_stg.json
{
	"name": "pl_awlt_stg",
	"properties": {
		"activities": [
			{
				"name": "lkp_all_tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select \n    o.name AS table_name\n    , s.name AS schema_name\nfrom \n    sys.objects o\n    inner join sys.schemas s\n    on o.schema_id = s.schema_id\nwhere \n    o.[type] = 'U'\n    and s.name <> 'dbo'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_awlt",
						"type": "DatasetReference",
						"parameters": {
							"schema": "SalesLT",
							"tabel": "Address"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "fe_all_tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_all_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_all_tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "exe_awlt_adls_object",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_awlt_adls_object",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"schema": {
										"value": "@item().schema_name",
										"type": "Expression"
									},
									"table": {
										"value": "@item().table_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}